body {
	margin: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(to right bottom, gold, chocolate);
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li {
	font-size: 40px;
	font-family: sans-serif;
	background-color: white;
	border: 2px solid black;
	letter-spacing: 0.1em;
	width: 5em;
	height: 1.5em;
	line-height: 1.5em;
	position: relative;
	overflow: hidden;
	margin: 0.5em;
	cursor: pointer;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgb(40,40,40);
}

nav ul li span {
	color: white;
	mix-blend-mode: difference;
}

nav ul li::before {
	content: '';
	position: absolute;
	width: 1.5em;
	height: inherit;
	background-color: black;
	border-radius: 50%;
	top: 0;
	left: -0.75em;
	transition: 0.5s ease-out;
}

nav ul li:hover::before {
	transform: scale(7);
}
.fish{
	height: 500px;
	width: 500px;
	height: 100vh;
    position: -webkit-sticky;

}
.fish img {
	width: 100%;
	height: 100%;
}
.container{
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.img1{
	width: 50%;
	height: 500px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px white;
}
.img1 img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}